// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px thin $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
//pagination styles
.page-navigation {
    .previous, .next {
        display: inline-block;
        font-size: 1em;
        margin-right: -4px;
        overflow: hidden;
        padding: 1.2em 0.6em;
        text-decoration: none;
        vertical-align: top;
        width: 50%;
        box-sizing: border-box;
        color: $govuk-blue;
        &:hover, &:focus {
            background-color: #F8F8F8;
            color: $link-hover-colour;
            cursor: pointer;
        }
        .arrow-button {
            float: left;
            font-size: 3.5em;
            margin-right: 10px;
            margin-top: -0.2em;
        }
    }
    .previous {
        text-align: left
    }
    .next {
        text-align: right;
        .arrow-button {
            float: right;
            margin-left: 10px;
            margin-right: 0
        }
    }
}
/*----- Transactions Table -----*/

#transaction-wrapper {
   box-sizing: border-box;
   width: 80%;
   float: left;
   .row {
       width: 100%;
       border-bottom: 1px solid $grey-3;
       overflow: auto;
       box-sizing: border-box;
       &#transaction-header {
           font-weight: 900;
       }
       div {
           float: left;
           width: auto;
           padding: 8px 0;
           &.date {
               width: 25%;
           }
           &.description {
               width: 35%;
           }
           &.amount {
               width: 25%;
           }
           &.details {
               width: 15%;
               text-align: right;
           }
       }
   }
}
#transactions-aside {
   width: 20%;
   float: left;
}

/*----- PAGE SCROLL SPY -----*/

.page-contents {
   margin-top: 1em
}

@media (min-width: 641px) {
   .page-contents {
       margin-top:0;
       padding: 2.3684em 0;
   }
}

.page-contents__title {
   font-family: "nta", Arial, sans-serif;
   font-weight: 700;
   text-transform: none;
   font-size: 14px;
   line-height: 1.14286;
   margin-bottom: 5px
}

@media (min-width: 641px) {
   .page-contents__title {
       font-size:16px;
       line-height: 1.25
   }
}

.page-contents__list li {
   font-family: "nta", Arial, sans-serif;
   font-weight: 400;
   text-transform: none;
   font-size: 14px;
   line-height: 1.14286;
   list-style-type: none;
   margin-bottom: 5px;
   margin-left: 15px;
   padding-right: 15px
}

@media (min-width: 641px) {
   .page-contents__list li {
       font-size:16px;
       line-height: 1.25
   }
}

.page-contents__list li:before {
   content: "–";
   float: left;
   display: block;
   width: 15px;
   margin-left: -15px
}

.page-contents__list a {
   text-decoration: none;
   letter-spacing: 0.022em
}

.page-contents__list a:hover,.page-contents__list a:focus,.page-contents__list a:active {
   text-decoration: underline
}

.page-contents__list .active {
   letter-spacing: 0;
   font-weight: bold
}
//end pagination styles
