{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">

  <div class="column-full">

                <h1 class="heading-xlarge">Agreement not signed</h1>
                <p>Acme Pty doesn't have a signed agreement with the Education and Skills Funding Agency (ESFA). Without a signed agreement you can add apprentice details, but won't be able to authorise payments to training providers. </p>

<p>Only account owners can sign ESFA agreements. If you're not sure who the owner is, you can check your team details.
                </p>


                    </div>
                    <div class="form-group">
                        <!-- <button class="button" type="submit" id="submit-button">Continue</button> -->
                         <button class="button">Review agreement</button>
                         <a href="add-training-provider-details.html">Continue anyway</a>
                    </div>
                </form>

            </div>

    </main>

{% endblock %}
