{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<!--
<div class="header-user">
        <div class="header-inner">

            <div class="account-information" role="navigation">
                <nav id="user-nav">
                    <ul role="menubar">
                        <li><a href="/service/help">Help</a></li>
                            <li class="has-sub-menu">
                                <a href="/" role="menuitem">Settings</a>
                                <ul role="menu" class="js-hidden" aria-hidden="true">
                                        <li><a href="#" role="menuitem">Your accounts</a></li>
                                        <li><a href="#" role="menuitem">Rename account</a></li>
                                    <li><a href="#">Change your password</a></li>
                                    <li><a href="#">Change your email address</a></li>
                                    <li><a href="#">Notification settings</a></li>

                                </ul>
                            </li>
                            <li><a href="/service/signOut" role="menuitem">Sign out</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

<div class="header-organisation" role="navigation">
                <nav class="header-inner">
                    <ul role="menubar" id="global-nav-links"><li><a href="/accounts/8MGY6M/teams" class="" role="menuitem">Home</a></li><li><a href="/accounts/8MGY6M/balance" class="selected" role="menuitem">Finance</a></li><li><a href="https://demo-empc.apprenticeships.sfa.bis.gov.uk/commitments/accounts/8MGY6M/apprentices/home" class="" role="menuitem">Apprentices</a></li><li><a href="/accounts/8MGY6M/teams/view" class="" role="menuitem">Your team</a></li><li><a href="/accounts/8MGY6M/agreements" class="" role="menuitem">Your organisations and agreements</a></li><li><a href="/accounts/8MGY6M/schemes" class="" role="menuitem">PAYE schemes</a></li></ul>
                </nav>
            </div>
          -->
<main role="main" id="content">




    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="../index.html">Home</a></li>
            <li>Your transactions</li>

        </ol>
    </div>

    <script>
        function backAway(){
            //if it was the first page
            if(history.length === 1){
                window.location = "http://www.mysite.com/"
            } else {
                history.back();
            }
        }
    </script>


    <a href="#" class="link-back" onClick="backAway()"> Back</a>

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge">
            Finance
        </h1>

    </div>
</div>

<div class="grid-row">

  <div class="column-one-half" style="background:#2F358B;float:left;width:45%;padding:10px;margin-right:10px;color:#ffffff;">
    <span class="data-item bold-xlarge"  style="margin-bottom:100px">£2,735,847.65</span>
    <span class="data-item bold-xsmall">Your available levy funds</span>
</div>
    <div class="column-one-half" style="background:#E02F35;float:left;width:50%;padding:10px;color:#ffffff;">
      <span class="data-item bold-xlarge" style="margin-bottom:100px">£20,000</span>
      <span class="data-item bold-xsmall">Unspent levy from May 2017 at risk of expiring in May 2019</span>
</div>

  <div class="column-one-half" style="float:left;width:45%;padding:10px;margin-right:10px;">
<h2 class="heading-medium"><a href="transactions-dynamic-list.html">View transactions</a></h2>
          <p>View payments made into and out of your digital apprenticeship service account.
          </p>
        </div>

        <div class="column-one-half" style="float:left;width:50%;padding:10px;">
          <h2 class="heading-medium"><a href="download-transactions.html">Download transactions</a></h2>
                    <p>Download all your transactions to date or within a specific date range.
                    </p>
                  </div>


</div> <!--end div for 3/4 size -->
    </div>
</div>



    </main>

{% endblock %}
