{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">


    <div class="breadcrumbs" id="js-breadcrumbs"><a href="#" class="link-back">Back</a></div>


<div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
            <h1 class="heading-xlarge">Payment: apprentice details</h1>
            <dl class="inline">
              <p>Date <span class="bolding"> 15 Sep 2017</span><br />
              Payment to <span class="bolding">TRAIN 4 LIMITED</span></p>

                <dd>Engineering Construction: Electrical Maintenance:  level 3</dd>
            </dl>
        </div>
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <table class="responsive">
            <thead>
            <tr>
                <th colspan="2"></th>
                <th class="highlight colgroup" scope="colgroup" colspan="2">Co-investment</th>
                <th colspan="2"></th>
            </tr>
            <tr>
                <th scope="col" class="tw-20">Apprentice</th>
                <th scope="col" class="numeric tw-20">Paid from levy</th>
                <th scope="col" class="numeric tw-20 highlight" class="highlight colgroup">Government contribution</th>
                <th scope="col" class="numeric tw-20 highlight" class="highlight colgroup">Your contribution</th>
                <th scope="col" class="numeric tw-20">Amount</th>
            </tr>
            </thead>
            <tbody>
                <tr class="responsive-tr">
                        <td data-label="Apprentice">Chris Foster</td>
                    <td class="numeric" data-label="Paid from levy">&#8209;£228.57</td>
                    <td class="numeric highlight" data-label="Government contribution">£0.00</td>
                    <td class="numeric highlight" data-label="Your contribution">£0.00</td>
                    <td class="numeric" data-label="Amount">&#8209;£228.57</td>
                </tr>
                <tr class="responsive-tr">
                        <td data-label="Apprentice">Chris Froberg</td>
                    <td class="numeric" data-label="Paid from levy">&#8209;£228.57</td>
                    <td class="numeric highlight" data-label="Government contribution">£0.00</td>
                    <td class="numeric highlight" data-label="Your contribution">£0.00</td>
                    <td class="numeric" data-label="Amount">&#8209;£228.57</td>
                </tr>
                <tr class="responsive-tr">
                        <td data-label="Apprentice">Dan Williams</td>
                    <td class="numeric" data-label="Paid from levy" >&#8209;£228.57</td>
                    <td class="numeric highlight" data-label="Government contribution">£0.00</td>
                    <td class="numeric highlight" data-label="Your contribution">£0.00</td>
                    <td class="numeric" data-label="Amount">&#8209;£228.57</td>
                </tr>
                <tr class="responsive-tr" >
                        <td data-label="Apprentice">Dele Odusanya</td>
                    <td class="numeric" data-label="Paid from levy">&#8209;£228.57</td>
                    <td class="numeric highlight" data-label="Government contribution">£0.00</td>
                    <td class="numeric highlight" data-label="Your contribution">£0.00</td>
                    <td class="numeric" data-label="Amount">&#8209;£228.57</td>
                </tr>
                <tr class="responsive-tr">
                        <td data-label="Apprentice" id="refund1">Kola Samuels</td>
                    <td class="numeric" data-label="Paid from levy" >(Refund) £228.57</td>
                    <td class="numeric highlight" data-label="Government contribution">£0.00</td>
                    <td class="numeric highlight" data-label="Your contribution">£0.00</td>
                    <td class="numeric" data-label="Amount">(Refund) £228.57</td>
                </tr>
                <tr class="responsive-tr">
                        <td data-label="Apprentice">Lee Wadhams</td>
                    <td class="numeric" data-label="Paid from levy">&#8209;£228.57</td>
                    <td class="numeric highlight" data-label="Government contribution">£0.00</td>
                    <td class="numeric highlight" data-label="Your contribution">£0.00</td>
                    <td class="numeric" data-label="Amount">&#8209;£228.57</td>
                </tr>
                <tr class="responsive-tr">
                        <td data-label="Apprentice">Rajesh Veluchamy</td>
                    <td class="numeric" data-label="Paid from levy">&#8209;£228.57</td>
                    <td class="numeric highlight" data-label="Government contribution">£0.00</td>
                    <td class="numeric highlight" data-label="Your contribution">£0.00</td>
                    <td class="numeric" data-label="Amount">&#8209;£228.57</td>
                </tr>
                <tr class="responsive-tr">
                        <td data-label="Apprentice">Satya Sanikommu</td>
                    <td class="numeric" data-label="Paid from levy">&#8209;£228.57</td>
                    <td class="numeric highlight" data-label="Government contribution">£0.00</td>
                    <td class="numeric highlight" data-label="Your contribution">£0.00</td>
                    <td class="numeric" data-label="Amount">&#8209;£228.57</td>
                </tr>
                <tr class="responsive-tr">
                        <td data-label="Apprentice">Will Simons</td>
                    <td class="numeric" data-label="Paid from levy">&#8209;£228.57</td>
                    <td class="numeric highlight" data-label="Government contribution">£0.00</td>
                    <td class="numeric highlight" data-label="Your contribution">£0.00</td>
                    <td class="numeric" data-label="Amount">&#8209;£228.57</td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="total">
                    <td data-label="Totals"> </td>
                    <td data-label="Paid from levy" class="total numeric no-wrap">&#8209;£1,599.99</td>
                    <td data-label="Government contribution" class="highlight total numeric no-wrap">£0.00</td>
                    <td data-label="Your contribution" class="highlight total numeric no-wrap">£0.00</td>
                    <td data-label="Amount" class="total numeric no-wrap">&#8209;£1,599.99</td>
                </tr>
            </tfoot>
        </table>
        <br>
          <br>
        <div class="panel">
            <p>It's up to you and your training provider to decide when your contribution is paid.</p>
        </div>
    </div>
</div>






    </main>


{% endblock %}
