{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">


    <div class="breadcrumbs" id="js-breadcrumbs"><a href="#" class="link-back">Back</a></div>


<div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
            <h1 class="heading-xlarge">Payment: apprentice details</h1>
            <dl class="inline">
              <p>Date <span class="bolding"> 15 Sep 2017</span><br />
              Payment to <span class="bolding">B2 Provider</span></p>

                <dd>Digital Marketing Level 3</dd>
            </dl>
        </div>
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <table class="responsive">
            <thead>
              <colgroup>
                <col span="2">
                <col span="2" class="highlighted-table-column">
                <col span="2">
              </colgroup>
            <tr>
                <th colspan="2"></th>
                <th class="highlighted-table-column" scope="colgroup" colspan="2">Co-investment</th>
                <th colspan="2"></th>
            </tr>
            <tr>
                <th scope="col" class="tw-20">Apprentice</th>
                <th scope="col" class="numeric tw-20">Paid from levy</th>
                <th scope="col" class="numeric tw-20 highlight" class="highlight colgroup">Government contribution</th>
                <th scope="col" class="numeric tw-20 highlight" class="highlight colgroup">Your contribution</th>
                <th scope="col" class="numeric tw-20">Amount</th>
                <th scope="col" class="numeric tw-20"></th>
            </tr>
            </thead>
            <tbody>
                <tr class="responsive-tr">
                        <td data-label="Apprentice"><a href="../ILR/Arden-individ.html">Arden Camargo</a></td>
                    <td class="numeric" data-label="Paid from levy">&#8209;£444.44</td>
                    <td class="numeric highlight" data-label="Government contribution">£0.00</td>
                    <td class="numeric highlight" data-label="Your contribution">£0.00</td>
                    <td class="numeric" data-label="Amount">&#8209;£444.44</td>
                    <td class="numeric" data-label="Amount"><a href="../ILR/arden-may">Details</a></td>
                </tr>
                <tr class="responsive-tr">
                        <td data-label="Apprentice"><a href="../ILR/Carlee-individ.html">Carlee Silverberg</a></td>
                    <td class="numeric" data-label="Paid from levy">&#8209;£444.44</td>
                    <td class="numeric highlight" data-label="Government contribution">£0.00</td>
                    <td class="numeric highlight" data-label="Your contribution">£0.00</td>
                    <td class="numeric" data-label="Amount">&#8209;£444.44</td>
                    <td class="numeric" data-label="Amount"><a href="../ILR/Carlee-may">Details</a></td>
                </tr>
                <tr class="responsive-tr">
                        <td data-label="Apprentice"><a href="../ILR/Derick-individ.html">Derick Cannella </a></td>
                    <td class="numeric" data-label="Paid from levy">&#8209;£444.44</td>
                    <td class="numeric highlight" data-label="Government contribution">£0.00</td>
                    <td class="numeric highlight" data-label="Your contribution">£0.00</td>
                    <td class="numeric" data-label="Amount">&#8209;£444.44</td>
                    <td class="numeric" data-label="Amount"><a href="../ILR/Derick-may">Details</a></td>
                </tr>
                <tr class="responsive-tr">
                        <td data-label="Apprentice"><a href="../ILR/Jill-individ.html">Jill Wensel</a></td>
                    <td class="numeric" data-label="Paid from levy">&#8209;£444.44</td>
                    <td class="numeric highlight" data-label="Government contribution">£0.00</td>
                    <td class="numeric highlight" data-label="Your contribution">£0.00</td>
                    <td class="numeric" data-label="Amount">&#8209;£444.44</td>
                    <td class="numeric" data-label="Amount"><a href="../ILR/Jill-may">Details</a></td>
                </tr>
                <tr class="responsive-tr">
                        <td data-label="Apprentice"><a href="../ILR/Jonah-individ.html">Jonah Brocious</a></td>
                    <td class="numeric" data-label="Paid from levy">&#8209;£444.44</td>
                    <td class="numeric highlight" data-label="Government contribution">£0.00</td>
                    <td class="numeric highlight" data-label="Your contribution">£0.00</td>
                    <td class="numeric" data-label="Amount">&#8209;£444.44</td>
                    <td class="numeric" data-label="Amount"><a href="../ILR/Jonah-may">Details</a></td>
                </tr>
                <tr class="responsive-tr">
                        <td data-label="Apprentice"><a href="../ILR/Karmen-individ.html">Karmen Degraw</a></td>
                    <td class="numeric" data-label="Paid from levy">&#8209;£444.44</td>
                    <td class="numeric highlight" data-label="Government contribution">£0.00</td>
                    <td class="numeric highlight" data-label="Your contribution">£0.00</td>
                    <td class="numeric" data-label="Amount">&#8209;£444.44</td>
                    <td class="numeric" data-label="Amount"><a href="../ILR/Karmen-may">Details</a></td>
                </tr>
                <tr class="responsive-tr">
                        <td data-label="Apprentice"><a href="../ILR/Layla-individ.html">Layla Bott</a></td>
                    <td class="numeric" data-label="Paid from levy">&#8209;£444.44</td>
                    <td class="numeric highlight" data-label="Government contribution">£0.00</td>
                    <td class="numeric highlight" data-label="Your contribution">£0.00</td>
                    <td class="numeric" data-label="Amount">&#8209;£444.44</td>
                    <td class="numeric" data-label="Amount"><a href="../ILR/Layla-may">Details</a></td>
                </tr>
                <tr class="responsive-tr">
                        <td data-label="Apprentice"><a href="../ILR/Arden-individ.html">Margarette Tillison</a></td>
                    <td class="numeric" data-label="Paid from levy">&#8209;£444.44</td>
                    <td class="numeric highlight" data-label="Government contribution">£0.00</td>
                    <td class="numeric highlight" data-label="Your contribution">£0.00</td>
                    <td class="numeric" data-label="Amount">&#8209;£444.44</td>
                    <td class="numeric" data-label="Amount"><a href="../ILR/Margarette-may">Details</a></td>
                </tr>
                <tr class="responsive-tr">
                        <td data-label="Apprentice"><a href="../ILR/Nancee-individ.html">Nancee Hitchens</a></td>
                    <td class="numeric" data-label="Paid from levy">&#8209;£444.44</td>
                    <td class="numeric highlight" data-label="Government contribution">£0.00</td>
                    <td class="numeric highlight" data-label="Your contribution">£0.00</td>
                    <td class="numeric" data-label="Amount">&#8209;£444.44</td>
                    <td class="numeric" data-label="Amount"><a href="../ILR/Nancee-may">Details</a></td>
                </tr>
                <tr class="responsive-tr">
                        <td data-label="Apprentice"><a href="../ILR/Napoleon-individ.html">Napoleon Muise</a></td>
                    <td class="numeric" data-label="Paid from levy">&#8209;£444.44</td>
                    <td class="numeric highlight" data-label="Government contribution">£0.00</td>
                    <td class="numeric highlight" data-label="Your contribution">£0.00</td>
                    <td class="numeric" data-label="Amount">&#8209;£444.44</td>
                    <td class="numeric" data-label="Amount"><a href="../ILR/Napoleon-may">Details</a></td>
                </tr>
                <tr class="responsive-tr">
                        <td data-label="Apprentice"><a href="../ILR/Ramiro-individ.html">Ramiro Langlois</a></td>
                    <td class="numeric" data-label="Paid from levy">&#8209;£444.44</td>
                    <td class="numeric highlight" data-label="Government contribution">£0.00</td>
                    <td class="numeric highlight" data-label="Your contribution">£0.00</td>
                    <td class="numeric" data-label="Amount">&#8209;£444.44</td>
                    <td class="numeric" data-label="Amount"><a href="../ILR/Ramiro-may">Details</a></td>
                </tr>
                <tr class="responsive-tr">
                        <td data-label="Apprentice"><a href="../ILR/Simonne-individ.html">Simonne Townsend</a></td>
                    <td class="numeric" data-label="Paid from levy">&#8209;£444.44</td>
                    <td class="numeric highlight" data-label="Government contribution">£0.00</td>
                    <td class="numeric highlight" data-label="Your contribution">£0.00</td>
                    <td class="numeric" data-label="Amount">&#8209;£444.44</td>
                    <td class="numeric" data-label="Amount"><a href="../ILR/Simonne-may">Details</a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="total">
                    <td data-label="Totals"> </td>
                    <td data-label="Paid from levy" class="total numeric no-wrap">&#8209;£5333.28</td>
                    <td data-label="Government contribution" class="highlight total numeric no-wrap">£0.00</td>
                    <td data-label="Your contribution" class="highlight total numeric no-wrap">£0.00</td>
                    <td data-label="Amount" class="total numeric no-wrap">&#8209;£5333.28</td>
                </tr>
            </tfoot>
        </table>
        <br>
          <br>
        <div class="panel">
            <p>It's up to you and your training provider to decide when your contribution is paid.</p>
        </div>
    </div>
</div>






    </main>


{% endblock %}
