{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">


    <div class="breadcrumbs" id="js-breadcrumbs"><a href="#" class="link-back">Back</a></div>


<div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
            <h1 class="heading-xlarge">Payment: apprentice details</h1>
            <dl class="inline">
              <p>Date <span class="bolding"> 05 May 2018</span><br />
              Payment to <span class="bolding">A1 Provider</span></p>

                <dd>Digital Marketing level 3</dd>
            </dl>
        </div>
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <table class="responsive">
            <thead>
              <colgroup>
                <col span="2">
                <col span="2" class="highlighted-table-column">
                <col span="2">
              </colgroup>
            <tr>
                <th colspan="2"></th>
                <th class="highlighted-table-column" scope="colgroup" colspan="2">Co-investment</th>
                <th colspan="2"></th>
            </tr>
            <tr>
                <th scope="col" class="tw-20">Apprentice</th>
                <th scope="col" class="numeric tw-20">Paid from levy</th>
                <th scope="col" class="numeric tw-20 highlight" class="highlight colgroup">Government contribution</th>
                <th scope="col" class="numeric tw-20 highlight" class="highlight colgroup">Your contribution</th>
                <th scope="col" class="numeric tw-20">Amount</th>
                <th scope="col" class="numeric tw-20"></th>
            </tr>
            </thead>
            <tbody>
                <tr class="responsive-tr">
                        <td data-label="Apprentice"><a href="../ILR/elroy-individ.html">Elroy Duckett</a></td>
                    <td class="numeric" data-label="Paid from levy">&#8209;£88.89</td>
                    <td class="numeric highlight" data-label="Government contribution">£0.00</td>
                    <td class="numeric highlight" data-label="Your contribution">£0.00</td>
                    <td class="numeric" data-label="Amount">&#8209;£88.89</td>
                    <td class="numeric" data-label="Amount"><a href="../ILR/elroy-may">Details</a></td>
                </tr>
                <tr class="responsive-tr">
                        <td data-label="Apprentice"><a href="#../ILR/emory-individ.html">Emory Elliston</a></td>
                    <td class="numeric" data-label="Paid from levy">&#8209;£88.89</td>
                    <td class="numeric highlight" data-label="Government contribution">£0.00</td>
                    <td class="numeric highlight" data-label="Your contribution">£0.00</td>
                    <td class="numeric" data-label="Amount">&#8209;£88.89</td>
                    <td class="numeric" data-label="Amount"><a href="#../ILR/emory-may">Details</a></td>
                </tr>
                <tr class="responsive-tr">
                        <td data-label="Apprentice"><a href="#../ILR/katelyn-individ.html">Katelyn Lenox</a></td>
                    <td class="numeric" data-label="Paid from levy">&#8209;£88.89</td>
                    <td class="numeric highlight" data-label="Government contribution">£0.00</td>
                    <td class="numeric highlight" data-label="Your contribution">£0.00</td>
                    <td class="numeric" data-label="Amount">&#8209;£88.89</td>
                    <td class="numeric" data-label="Amount"><a href="#../ILR/katelyn-may">Details</a></td>
                </tr>
                <tr class="responsive-tr">
                        <td data-label="Apprentice"><a href="#../ILR/katelyn-individ.html">Marian Levi</a></td>
                    <td class="numeric" data-label="Paid from levy">&#8209;£88.89</td>
                    <td class="numeric highlight" data-label="Government contribution">£0.00</td>
                    <td class="numeric highlight" data-label="Your contribution">£0.00</td>
                    <td class="numeric" data-label="Amount">&#8209;£88.89</td>
                    <td class="numeric" data-label="Amount"><a href="#../ILR/marian-may">Details</a></td>
                </tr>
                <tr class="responsive-tr">
                        <td data-label="Apprentice"><a href="#../ILR/marylou-individ.html">Marylou Bowne</a></td>
                    <td class="numeric" data-label="Paid from levy">&#8209;£88.89</td>
                    <td class="numeric highlight" data-label="Government contribution">£0.00</td>
                    <td class="numeric highlight" data-label="Your contribution">£0.00</td>
                    <td class="numeric" data-label="Amount">&#8209;£88.89</td>
                    <td class="numeric" data-label="Amount"><a href="#../ILR/marylou-may">Details</a></td>
                </tr>
                <tr class="responsive-tr">
                        <td data-label="Apprentice"><a href="#../ILR/robin-individ.html">Robin Lo</a></td>
                    <td class="numeric" data-label="Paid from levy">&#8209;£88.89</td>
                    <td class="numeric highlight" data-label="Government contribution">£0.00</td>
                    <td class="numeric highlight" data-label="Your contribution">£0.00</td>
                    <td class="numeric" data-label="Amount">&#8209;£88.89</td>
                    <td class="numeric" data-label="Amount"><a href="#../ILR/robin-may">Details</a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="total">
                    <td data-label="Totals"> </td>
                    <td data-label="Paid from levy" class="total numeric no-wrap">&#8209;£533.34</td>
                    <td data-label="Government contribution" class="highlight total numeric no-wrap">£0.00</td>
                    <td data-label="Your contribution" class="highlight total numeric no-wrap">£0.00</td>
                    <td data-label="Amount" class="total numeric no-wrap">&#8209;£533.34</td>
                    <td data-label="Amount" class="total numeric no-wrap">&nbsp;</td>
                </tr>
            </tfoot>
        </table>
        <br>
          <br>
        <div class="panel">
            <p>It's up to you and your training provider to decide when your contribution is paid.</p>
        </div>
    </div>
</div>






    </main>


{% endblock %}
