{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">

                <div id="transaction-wrapper">

                  <div class="row levy">
                    
                  </div>
                          <div class="row levy">
                              <p>asdfasd</p>
                          </div>

                          <div class="row levy" id="transferSender">
                            <p>scroll</p>
                            </div>

                          <div class="row non-levy" id="transferReceiver">
                            <p>asdfasd</p>
                          </div>


        </div>


<table>

</table>
    </main>

{% endblock %}
