{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}


<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        The GOV.UK prototype kit
        <h2 class="heading-medium"> This is an untested demo prototype - do not use for production </h2>

        <span class="heading-secondary">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
    <!--  {% include "includes/thing.html" %} -->

      <h2 class="heading-medium">Sorcha's prototypes</h2>
      <p> Here are links to my prototypes.</p/>
        <ul>
                <li><a href="ILR\monty-overview.html">ILR Apprentice payments overview page</a> </li>
                <li><a href="ILR\monty-october.html">ILR Apprentice monthly payment view</a> </li>
                <li><a href="ILR\bart-individ.html">ILR individual apprentice page</a> </li>
<br />
          <li><a href="financial-dashboard\index.html">Financial dashboard index</a> </li>
            <li><a href="financial-dashboard\download-transactions.html">Financial dashboard - download transactions</a> </li>
            <li><a href="financial-dashboard\transactions.html">Financial dashboard - simple transactions table</a> </li>
            <li><a href="financial-dashboard\transactions-dynamic-list.html">Financial dashboard dynamic transactions table</a> </li>
          <!--  <li><a href="financial-dashboard\transactions-dynamic-list-showing-refund.html">Financial dashboard dynamic transactions table showing refund</a> </li>
        -->    <li><a href="financial-dashboard\payment-details.html">Financial dashboard payment details - Choice 1</a> </li>
            <li><a href="financial-dashboard\payment-details2.html">Financial dashboard payment details - Choice 2</a> </li>
            <li><a href="financial-dashboard\payment-apprentice-details.html">Financial dashboard payment apprentice details</a> </li>
        </ul>

      <p>
         This kit lets you rapidly create HTML prototypes of GOV.UK services.
      </p>

      <p>

        It contains all you need to prototype anything from simple static pages to complex, data-driven transactions.
      </p>


      <h2 class="heading-medium">About this page</h2>

      <p>We recommend you add links to your prototype to this page, rather than delete it.
        You'll find this page in the kit at '/app/views/index.html'.</p>
      <p>You can change the service name by editing the file '/app/config.js'.</p>

			<h2 class="heading-medium">Examples and documentation</h2>

			<ul class="list list-bullet">
				<li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
				<li><a href="https://github.com/alphagov/govuk_prototype_kit">GitHub</a></li>
			</ul>

      <h2 class="heading-medium">Other resources</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}
